<!DOCTYPE html>
<html>
  <head>
    <title>ClassroomApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background">
      <div class="wrap">
        <div class="header">
          <div class="head_title">
            <h2>みんなのクラスルーム</h2>
            <button type="button" class="btn btn-primary head_signin">ログイン</button>
          </div>
          <div class="head_navi">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link <%= 'active' if request.path === '/' %>" href="/">トップ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if request.path === '/articles' %>" href="/articles">アクティビティ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">日記</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">投稿</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">お問い合わせ</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="body_wrap">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
